// @import './fonts.scss'; // imported in quasar.conf.js

*,
::after,
::before {
  box-sizing: border-box;
}

#__nuxt {
  // overflow: hidden;
}

html {
  // overflow: hidden;
  line-height: 1;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(20, 20, 31, 0);
  // overflow: hidden !important;
  &::backdrop {
    background-color: #448;
  }
}

html,
body,
.app {
  // width: 100%;
  // height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-main {
  font-family: 'DM Sans', 'Open Sans', Arial, sans-serif;
}
body {
  margin: 0;
  // font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  // font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  //   Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #0d152e;
  text-align: left;
  // background: #f9f9fc;
  // background-color: #f6f7f9;

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

$primary-color: #416ff4;
.bg-color-primary {
  background-color: $primary-color;
}

.link--active {
  color: $primary-color;
}

.text-black-2 {
  color: #687497;
}
.text-black-3 {
  color: #63656e;
}
.bg-dark-1 {
  background-color: #101c3d;
}
.bg-gray-1 {
  background-color: #f7f9fb;
}
.text-gray-1 {
  color: #81838c;
}
.text-gray-2 {
  color: #6e6e73;
}
.text-gray-3 {
  color: #9ca3af;
}

.bg-cotton-boll-1 {
  background-color: #e8efff;
}

.bg-cotton-boll-2 {
  background-color: #f4f7ff;
}

@mixin transition-mixin {
  transition: 1s;
}

.tw-dark {
  .bg-cotton-boll-1 {
    background-color: #171c25;
  }
  .bg-cotton-boll-2 {
    background-color: #2d3748;
  }

  .tw-bg-white {
    background-color: #2d3748;
  }

  [fill='white'] {
    fill: #2d3748;
  }

  .fix-svg-dark-back [fill='white'] {
    fill: #9eafdf;
  }

  .fix-svg-dark-back-cartoon [fill='#1D2534'] {
    fill: #111b3a;
  }

  .text-black-2 {
    color: #f0f0f0;
  }
  .text-black-3 {
    color: #f0f0f0;
  }
  .text-gray-2 {
    color: rgb(209, 213, 219); // dark:tw-text-gray-300
  }
  .fix-svg-icon path {
    fill: white;
  }
  .fix-svg-icon .fix-svg-icon__backdrop {
    fill: #416ff4;
  }
}

.ellipsis {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
}

.scroll-blur-bottom,
.bg-cotton-boll-1,
.bg-cotton-boll-2,
.tw-bg-white,
.text-black-2,
.text-black-3,
.text-gray-2,
.fix-svg-dark-back-cartoon [fill='#1D2534'],
[fill='white'],
[class^='dark'] {
  @include transition-mixin;
}

.scroll-blur-bottom__inactive {
  filter: blur(4px);
}

#section-1,
#section-2,
#section-3 {
  overflow: hidden;
}

.anim-batch-once,
.anim-batch {
  will-change: transform;
  opacity: 0;
}
